.authentication_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.1);
    color: #2D3142;
    background: #F9FAFB;
}
.label{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 0.5rem 0.2rem;
    float:left;
}
.input_wrapper{
    max-width: 400px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    text-align: left;
}
.input_field {
    border-radius: 0.75rem;
    border: 1px solid #D4D7E3;

    padding: 12px;
    font-size: 1rem;
    background-color: transparent;
}
.button_auth {
    margin-top: 20px;
    width:100%;
    font-size: 1.2rem;
    padding: 0.6rem 0 0.6rem 0;
    background-color: #7755FD;
    color: #EAE8FF  ;
    transition-duration: .2s;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.button_auth:hover {
    background-color: #9786FF;
    color: #F4F2FF;
    scale: 1.02;
}
.link {
    margin-left: 10px;
    color: #9786FF;
    font-weight:600;
    text-decoration:none;
}
.link:hover {
    color: #7755FD;
}

@media (max-width: 600px){
    .authentication_wrapper{
        padding: 1rem 1.5rem;
    }
    .authentication_wrapper h1{
        font-size: 1.2rem;
    }
    .button_auth{
        font-size: 1rem;
    }
}
