.input_wrapper{
    border-radius: 12px;
    border: 1px solid black;
    color: #3F4665;
    font-size: 1rem;
    font-family: var(--font-noto-sans);
    font-weight: 600;

    margin: 5px 10px;
}
.input_wrapper_disabled{
    border-radius: 12px;
    border: 1px solid #D4D7E3;
    color: #3F4665;
    font-size: 1rem;
    font-family: var(--font-noto-sans);
    font-weight: 600;

    margin: 5px 10px;
}