.modalWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98,110,149, 0.4);
}
.modal{
    width: 50svw;
    height: 30svh;
    transition: .2s;
    background-color: rgba(98,110,149, 1);
    color: rgba(212,215,227,1);
    padding: 10px 40px;
    border-radius: 14px;
    height: 500px;
    overflow-y: scroll;
    z-index: 3;
}
.modal::-webkit-scrollbar{
    position: absolute;
    right: 100px;
    background-color: rgba(98,110,149, 1);
    border-radius: 1px 14px 14px 1px;
}
.modal::-webkit-scrollbar-thumb{
    background-color: #3F4665;
    border-radius: 14px 20px 20px 14px;
}
.modalCloseButton{
    text-align: center;
    background-color: transparent;
    border: none;

    position: relative;
    left: 20px;
    top: 3px;

    width: 34px;
    height: 34px;

    padding: 0;
    color:rgba(212,215,227,1);

    font-size: 2rem; 
    transition: 0.2s ease;
}
.modalCloseButton:hover{
    scale: 1.1;
}
.item_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
    border: 1px solid rgba(98,110,149, 1);
    padding: 8px 12px;
}
.item_container:hover{
    border: 1px solid #D4D7E3;
}
.item_container h3{
    font-size: 18px;
    font-family: var(--font-noto-sans);
    font-weight: 700;
    color: #D4D7E3;
    margin: 0;
    text-align: left;
    cursor:default;
}
.item_container p {
    margin: 0;
    padding: 4px 9px;
    font-size: 14px;
    font-weight: 600;
    color: #EBECF3;
    background: #626E95;
    border-radius: 12px;
    text-transform: capitalize;
    cursor:default;
}
.item_headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item_headers h4{
    margin:0;
    font-size:10px;
    color:#626E95;
    display: none;
    cursor:default;
}
.item_description{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon{
    position: relative;
    top:2px;
    margin: 0 2px 0 0;
}
@media (max-height: 550px) { 
    .modal{
        height: 90svh;
    }
}