.button_primary {
    background-color: #3F4665;
    color: #D4D7E3;
    transition-duration: .2s;
    font-weight:600;
    border-radius: 1rem;
    font-size: 16px;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:none;
}

.button_primary:hover {
    background-color: #626E95;
    color: #EBECF3;
}

.button_base {
    color: #626E95;
    background-color: transparent;
    transition-duration: .2s;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_base:hover {
    color: #2D3142;
}
.profile_icon{
    height: 30px;
    width: 30px;
}
.profile_button{
    background-color: transparent;
    border: none;
}
.profile_dropdown higher{
    background-color: "#F9FAFB"; 
    color:"#626E95";
    font-family: var(--font-noto-sans);
    font-weight: 700;
}
@media (max-width: 900px) {
    .button_base{
      font-size:1em;
    }
    .button_primary{
        font-size:1em;
    }
  }