
.index_wrapper{
  display: flex;
  flex-direction: column;
  background: #F9FAFB;

  border-radius: 1.5rem;
  box-shadow: rgba(0,0,0,0.1) 0px 8px 12px;

  padding: 20px 48px;
  gap: 20px;
}
.index_wrapper_p{
  margin: 16px 0 20px 0;
  font-size:1.25rem;
  letter-spacing: 1px;
  line-height:22px;
}
.button_auth {
  font-family: var(--font-noto-sans);
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  width:100%;
  font-size: 1.2rem;
  padding: 0.6rem 0 0.6rem 0;
  background-color: #7755FD;
  color: #EAE8FF  ;
  transition-duration: .2s;
  border-radius: 0.75rem;
  border: none;
}
.button_auth:hover {
  background-color: #9786FF;
  color: #F4F2FF;
}
